{% extends 'admin/master.html' %}

{% block head_css %}
{{ super() }}

<!--<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">-->
<link rel="stylesheet" href="{{ url_for('static', filename='css/admin/font-awesome-all.min.css') }}">
<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='css/admin/tempusdominus-bootstrap-4.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/admin/icheck-bootstrap.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/admin/adminlte.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/admin/summernote-bs4.min.css') }}">



{% endblock %}

{% block body %}
  <section class="content">
      <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <div class="row">
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-info">
              <div class="inner">
                <h3>{{no_of_orders}}</h3>

                <p>New Orders</p>
              </div>
              <div class="icon">
                <i class="ion ion-bag"></i>
              </div>
              <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-success">
              <div class="inner">
                <h3>{{sales_percentage}}<sup style="font-size: 20px">%</sup></h3>

                <p>Bounce Rate</p>
              </div>
              <div class="icon">
                <i class="ion ion-stats-bars"></i>
              </div>
              <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-warning">
              <div class="inner">
                <h3>{{no_of_users}}</h3>

                <p>User Registrations</p>
              </div>
              <div class="icon">
                <i class="ion ion-person-add"></i>
              </div>
              <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-danger">
              <div class="inner">
                <h3>{{ total_no_of_products_sold }}</h3>

                <p>Total Products Sold</p>
              </div>
              <div class="icon">
                <i class="ion ion-pie-graph"></i>
              </div>
              <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
        </div>
        <!-- /.row -->
        <!-- Main row -->
        <div class="row">
          <!-- Left col -->
          <section class="col-lg-7 connectedSortable">
            <!-- Custom tabs (Charts with tabs)-->
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">
                  <i class="fas fa-chart-pie mr-1"></i>
                  Sales
                </h3>
                <div class="card-tools">
                  <ul class="nav nav-pills ml-auto">
                    <li class="nav-item">
                      <a class="nav-link active" href="#revenue-chart" data-toggle="tab">Area</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#sales-chart" data-toggle="tab">Donut</a>
                    </li>
                  </ul>
                </div>
              </div><!-- /.card-header -->
              <div class="card-body">
                <div class="tab-content p-0">
                  <!-- Morris chart - Sales -->
                  <div class="chart tab-pane active" id="revenue-chart"
                       style="position: relative; height: 300px;">
                      <canvas id="revenue-chart-canvas" height="300" style="height: 300px;"></canvas>
                   </div>
                  <div class="chart tab-pane" id="sales-chart" style="position: relative; height: 300px;">
                    <canvas id="sales-chart-canvas" height="300" style="height: 300px;"></canvas>
                  </div>
                </div>
              </div><!-- /.card-body -->
            </div>
            <!-- /.card -->
            <!-- BAR CHART -->
            <div class="card card-success">
              <div class="card-header">
                <h3 class="card-title">Bar Chart</h3>

                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                  </button>
                  <button type="button" class="btn btn-tool" data-card-widget="remove">
                    <i class="fas fa-times"></i>
                  </button>
                </div>
              </div>
              <div class="card-body">
                <div class="chart">
                  <canvas id="barChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                </div>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->


            <!-- TO DO List -->
<!--            <div class="card">-->
<!--              <div class="card-header">-->
<!--                <h3 class="card-title">-->
<!--                  <i class="ion ion-clipboard mr-1"></i>-->
<!--                  To Do List-->
<!--                </h3>-->

<!--                <div class="card-tools">-->
<!--                  <ul class="pagination pagination-sm">-->
<!--                    <li class="page-item"><a href="#" class="page-link">&laquo;</a></li>-->
<!--                    <li class="page-item"><a href="#" class="page-link">1</a></li>-->
<!--                    <li class="page-item"><a href="#" class="page-link">2</a></li>-->
<!--                    <li class="page-item"><a href="#" class="page-link">3</a></li>-->
<!--                    <li class="page-item"><a href="#" class="page-link">&raquo;</a></li>-->
<!--                  </ul>-->
<!--                </div>-->
<!--              </div>-->
<!--              &lt;!&ndash; /.card-header &ndash;&gt;-->
<!--              <div class="card-body">-->
<!--                <ul class="todo-list" data-widget="todo-list">-->
<!--                  <li>-->
<!--                    &lt;!&ndash; drag handle &ndash;&gt;-->
<!--                    <span class="handle">-->
<!--                      <i class="fas fa-ellipsis-v"></i>-->
<!--                      <i class="fas fa-ellipsis-v"></i>-->
<!--                    </span>-->
<!--                    &lt;!&ndash; checkbox &ndash;&gt;-->
<!--                    <div  class="icheck-primary d-inline ml-2">-->
<!--                      <input type="checkbox" value="" name="todo1" id="todoCheck1">-->
<!--                      <label for="todoCheck1"></label>-->
<!--                    </div>-->
<!--                    &lt;!&ndash; todo text &ndash;&gt;-->
<!--                    <span class="text">Design a nice theme</span>-->
<!--                    &lt;!&ndash; Emphasis label &ndash;&gt;-->
<!--                    <small class="badge badge-danger"><i class="far fa-clock"></i> 2 mins</small>-->
<!--                    &lt;!&ndash; General tools such as edit or delete&ndash;&gt;-->
<!--                    <div class="tools">-->
<!--                      <i class="fas fa-edit"></i>-->
<!--                      <i class="fas fa-trash-o"></i>-->
<!--                    </div>-->
<!--                  </li>-->
<!--                  <li>-->
<!--                    <span class="handle">-->
<!--                      <i class="fas fa-ellipsis-v"></i>-->
<!--                      <i class="fas fa-ellipsis-v"></i>-->
<!--                    </span>-->
<!--                    <div  class="icheck-primary d-inline ml-2">-->
<!--                      <input type="checkbox" value="" name="todo2" id="todoCheck2" checked>-->
<!--                      <label for="todoCheck2"></label>-->
<!--                    </div>-->
<!--                    <span class="text">Make the theme responsive</span>-->
<!--                    <small class="badge badge-info"><i class="far fa-clock"></i> 4 hours</small>-->
<!--                    <div class="tools">-->
<!--                      <i class="fas fa-edit"></i>-->
<!--                      <i class="fas fa-trash-o"></i>-->
<!--                    </div>-->
<!--                  </li>-->
<!--                  <li>-->
<!--                    <span class="handle">-->
<!--                      <i class="fas fa-ellipsis-v"></i>-->
<!--                      <i class="fas fa-ellipsis-v"></i>-->
<!--                    </span>-->
<!--                    <div  class="icheck-primary d-inline ml-2">-->
<!--                      <input type="checkbox" value="" name="todo3" id="todoCheck3">-->
<!--                      <label for="todoCheck3"></label>-->
<!--                    </div>-->
<!--                    <span class="text">Let theme shine like a star</span>-->
<!--                    <small class="badge badge-warning"><i class="far fa-clock"></i> 1 day</small>-->
<!--                    <div class="tools">-->
<!--                      <i class="fas fa-edit"></i>-->
<!--                      <i class="fas fa-trash-o"></i>-->
<!--                    </div>-->
<!--                  </li>-->
<!--                  <li>-->
<!--                    <span class="handle">-->
<!--                      <i class="fas fa-ellipsis-v"></i>-->
<!--                      <i class="fas fa-ellipsis-v"></i>-->
<!--                    </span>-->
<!--                    <div  class="icheck-primary d-inline ml-2">-->
<!--                      <input type="checkbox" value="" name="todo4" id="todoCheck4">-->
<!--                      <label for="todoCheck4"></label>-->
<!--                    </div>-->
<!--                    <span class="text">Let theme shine like a star</span>-->
<!--                    <small class="badge badge-success"><i class="far fa-clock"></i> 3 days</small>-->
<!--                    <div class="tools">-->
<!--                      <i class="fas fa-edit"></i>-->
<!--                      <i class="fas fa-trash-o"></i>-->
<!--                    </div>-->
<!--                  </li>-->
<!--                  <li>-->
<!--                    <span class="handle">-->
<!--                      <i class="fas fa-ellipsis-v"></i>-->
<!--                      <i class="fas fa-ellipsis-v"></i>-->
<!--                    </span>-->
<!--                    <div  class="icheck-primary d-inline ml-2">-->
<!--                      <input type="checkbox" value="" name="todo5" id="todoCheck5">-->
<!--                      <label for="todoCheck5"></label>-->
<!--                    </div>-->
<!--                    <span class="text">Check your messages and notifications</span>-->
<!--                    <small class="badge badge-primary"><i class="far fa-clock"></i> 1 week</small>-->
<!--                    <div class="tools">-->
<!--                      <i class="fas fa-edit"></i>-->
<!--                      <i class="fas fa-trash-o"></i>-->
<!--                    </div>-->
<!--                  </li>-->
<!--                  <li>-->
<!--                    <span class="handle">-->
<!--                      <i class="fas fa-ellipsis-v"></i>-->
<!--                      <i class="fas fa-ellipsis-v"></i>-->
<!--                    </span>-->
<!--                    <div  class="icheck-primary d-inline ml-2">-->
<!--                      <input type="checkbox" value="" name="todo6" id="todoCheck6">-->
<!--                      <label for="todoCheck6"></label>-->
<!--                    </div>-->
<!--                    <span class="text">Let theme shine like a star</span>-->
<!--                    <small class="badge badge-secondary"><i class="far fa-clock"></i> 1 month</small>-->
<!--                    <div class="tools">-->
<!--                      <i class="fas fa-edit"></i>-->
<!--                      <i class="fas fa-trash-o"></i>-->
<!--                    </div>-->
<!--                  </li>-->
<!--                </ul>-->
<!--              </div>-->
<!--              &lt;!&ndash; /.card-body &ndash;&gt;-->
<!--              <div class="card-footer clearfix">-->
<!--                <button type="button" class="btn btn-primary float-right"><i class="fas fa-plus"></i> Add item</button>-->
<!--              </div>-->
<!--            </div>-->
            <!-- /.card -->
          </section>
          <!-- /.Left col -->
          <!-- right col (We are only adding the ID to make the widgets sortable)-->
          <section class="col-lg-5 connectedSortable">

            <!-- solid sales graph -->
<!--            <div class="card bg-gradient-info">-->
<!--              <div class="card-header border-0">-->
<!--                <h3 class="card-title">-->
<!--                  <i class="fas fa-th mr-1"></i>-->
<!--                  Sales Graph-->
<!--                </h3>-->

<!--                <div class="card-tools">-->
<!--                  <button type="button" class="btn bg-info btn-sm" data-card-widget="collapse">-->
<!--                    <i class="fas fa-minus"></i>-->
<!--                  </button>-->
<!--                  <button type="button" class="btn bg-info btn-sm" data-card-widget="remove">-->
<!--                    <i class="fas fa-times"></i>-->
<!--                  </button>-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="card-body">-->
<!--                <canvas class="chart" id="line-chart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>-->
<!--              </div>-->
<!--              &lt;!&ndash; /.card-body &ndash;&gt;-->
<!--              <div class="card-footer bg-transparent">-->
<!--                <div class="row">-->
<!--                  <div class="col-4 text-center">-->
<!--                    <input type="text" class="knob" data-readonly="true" value="20" data-width="60" data-height="60"-->
<!--                           data-fgColor="#39CCCC">-->

<!--                    <div class="text-white">Mail-Orders</div>-->
<!--                  </div>-->
<!--                  &lt;!&ndash; ./col &ndash;&gt;-->
<!--                  <div class="col-4 text-center">-->
<!--                    <input type="text" class="knob" data-readonly="true" value="50" data-width="60" data-height="60"-->
<!--                           data-fgColor="#39CCCC">-->

<!--                    <div class="text-white">Online</div>-->
<!--                  </div>-->
<!--                  &lt;!&ndash; ./col &ndash;&gt;-->
<!--                  <div class="col-4 text-center">-->
<!--                    <input type="text" class="knob" data-readonly="true" value="30" data-width="60" data-height="60"-->
<!--                           data-fgColor="#39CCCC">-->

<!--                    <div class="text-white">In-Store</div>-->
<!--                  </div>-->
<!--                  &lt;!&ndash; ./col &ndash;&gt;-->
<!--                </div>-->
<!--                &lt;!&ndash; /.row &ndash;&gt;-->
<!--              </div>-->
<!--              &lt;!&ndash; /.card-footer &ndash;&gt;-->
<!--            </div>-->
            <!-- /.card -->

            <!-- Calendar -->
            <div class="card bg-gradient-success">
              <div class="card-header border-0">

                <h3 class="card-title">
                  <i class="far fa-calendar-alt"></i>
                  Calendar
                </h3>
                <!-- tools card -->
                <div class="card-tools">
                  <!-- button with a dropdown -->
                  <div class="btn-group">
                    <button type="button" class="btn btn-success btn-sm dropdown-toggle" data-toggle="dropdown" data-offset="-52">
                      <i class="fas fa-bars"></i>
                    </button>
                    <div class="dropdown-menu" role="menu">
                      <a href="#" class="dropdown-item">Add new event</a>
                      <a href="#" class="dropdown-item">Clear events</a>
                      <div class="dropdown-divider"></div>
                      <a href="#" class="dropdown-item">View calendar</a>
                    </div>
                  </div>
                  <button type="button" class="btn btn-success btn-sm" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                  </button>
                  <button type="button" class="btn btn-success btn-sm" data-card-widget="remove">
                    <i class="fas fa-times"></i>
                  </button>
                </div>
                <!-- /. tools -->
              </div>
              <!-- /.card-header -->
              <div class="card-body pt-0">
                <!--The calendar -->
                <div id="calendar" style="width: 100%"></div>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </section>
          <!-- right col -->
        </div>
        <!-- /.row (main row) -->
      </div><!-- /.container-fluid -->
    </section>
{% endblock %}
<!-- jQuery -->
{% block tail_js %}
  {{ super() }}

<script type="text/javascript" src="{{ url_for('static',filename='js/admin/jquery.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static',filename='js/admin/jquery-ui.min.js') }}"></script>
<script>
  $.widget.bridge('uibutton', $.ui.button)
</script>
<script type="text/javascript" src="{{ url_for('static',filename='js/admin/bootstrap.bundle.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static',filename='js/admin/Chart.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static',filename='js/admin/sparkline.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static',filename='js/admin/jquery.knob.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static',filename='js/admin/moment.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static',filename='js/admin/daterangepicker.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static',filename='js/admin/tempusdominus-bootstrap-4.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static',filename='js/admin/summernote-bs4.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static',filename='js/admin/jquery.overlayScrollbars.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static',filename='js/admin/adminlte.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static',filename='js/admin/demo.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static',filename='js/admin/dashboard.js') }}"></script>
<script>
  /* Chart.js Charts */
  // Sales chart
  var salesChartCanvas = document.getElementById('revenue-chart-canvas').getContext('2d')
  // $('#revenue-chart').get(0).getContext('2d');

  var salesChartData = {
    labels: {{ chart1_labels | safe }},
    datasets: [
      {
        label: 'Current 3 days',
        backgroundColor: 'rgba(60,141,188,0.9)',
        borderColor: 'rgba(60,141,188,0.8)',
        pointRadius: false,
        pointColor: '#3b8bba',
        pointStrokeColor: 'rgba(60,141,188,1)',
        pointHighlightFill: '#fff',
        pointHighlightStroke: 'rgba(60,141,188,1)',
        data: {{ chart1_values | safe}}
      },
      {
        label: 'Past 3 days',
        backgroundColor: 'rgba(210, 214, 222, 1)',
        borderColor: 'rgba(210, 214, 222, 1)',
        pointRadius: false,
        pointColor: 'rgba(210, 214, 222, 1)',
        pointStrokeColor: '#c1c7d1',
        pointHighlightFill: '#fff',
        pointHighlightStroke: 'rgba(220,220,220,1)',
        data: {{ chart2_values | safe}}
      }
    ]
  }

  var salesChartOptions = {
    maintainAspectRatio: false,
    responsive: true,
    legend: {
      display: false
    },
    scales: {
      xAxes: [{
        gridLines: {
          display: false
        }
      }],
      yAxes: [{
        gridLines: {
          display: false
        }
      }]
    }
  }

  // This will get the first returned node in the jQuery collection.
  // eslint-disable-next-line no-unused-vars
  var salesChart = new Chart(salesChartCanvas, { // lgtm[js/unused-local-variable]
    type: 'line',
    data: salesChartData,
    options: salesChartOptions
  })


// Donut Chart
  var pieChartCanvas = $('#sales-chart-canvas').get(0).getContext('2d')
  var pieData        = {
    labels: {{ chart1_labels | safe }},
    datasets: [
      {
        data: {{ chart1_values | safe}},
        backgroundColor : ['#f56954', '#00a65a', '#f39c12', '#ca6ac7', '#9c6aca', '#3a38ce', '#6eae82', '#ca5f54'],
      }
    ]
  }
  var pieOptions = {
    legend: {
      display: false
    },
    maintainAspectRatio : false,
    responsive : true,
  }
  //Create pie or douhnut chart
  // You can switch between pie and douhnut using the method below.
  var pieChart = new Chart(pieChartCanvas, {
    type: 'doughnut',
    data: pieData,
    options: pieOptions
  });


  //-------------
    //- BAR CHART -
    //-------------
    var areaChartData = {
      labels  : {{ chart3_labels | safe }},
      datasets: [
        {
          label               : 'Last 3 days',
          backgroundColor     : 'rgba(60,141,188,0.9)',
          borderColor         : 'rgba(60,141,188,0.8)',
          pointRadius          : false,
          pointColor          : '#3b8bba',
          pointStrokeColor    : 'rgba(60,141,188,1)',
          pointHighlightFill  : '#fff',
          pointHighlightStroke: 'rgba(60,141,188,1)',
          data                : {{ chart3_values | safe }}
        },
        {
          label               : 'Previous 3 days',
          backgroundColor     : 'rgba(210, 214, 222, 1)',
          borderColor         : 'rgba(210, 214, 222, 1)',
          pointRadius         : false,
          pointColor          : 'rgba(210, 214, 222, 1)',
          pointStrokeColor    : '#c1c7d1',
          pointHighlightFill  : '#fff',
          pointHighlightStroke: 'rgba(220,220,220,1)',
          data                : {{ chart4_values | safe }}
        },
      ]
    }
    var barChartCanvas = $('#barChart').get(0).getContext('2d')
    var barChartData = $.extend(true, {}, areaChartData)
    var temp0 = areaChartData.datasets[0]
    var temp1 = areaChartData.datasets[1]
    barChartData.datasets[0] = temp1
    barChartData.datasets[1] = temp0

    var barChartOptions = {
      responsive              : true,
      maintainAspectRatio     : false,
      datasetFill             : false
    }

    new Chart(barChartCanvas, {
      type: 'bar',
      data: barChartData,
      options: barChartOptions
    })
</script>
{% endblock %}
