

<div>
    <div class="box">
        <form method="POST" action="/personal_info/">
            <div class="title">
                <h4>
                    <span class="fas fa-user-circle"></span>
                    <span>Personal Info</span>


                </h4>
                <table style="border-collapse:separate;border-spacing:20px ;">
                    <tr>
                        <td style="font-weight:bold; width:14%">First Name :</td>
                        <td>{{form.firstName(class="form-control form-control-lg")}}</td>
                    </tr>
                    <tr>
                        <td style="font-weight:bold;">Middle Name :</td>
                        <td>{{form.middleName(class="form-control form-control-lg")}}</td>
                    </tr>
                    <tr>
                        <td style="font-weight:bold;">Last Name :</td>
                        <td >{{form.lastName(class="form-control form-control-lg")}}</td>
                    </tr>
                    <tr>
                        <td style="font-weight:bold;">Email id :</td>
                        <td>{{form.emailId(class="form-control form-control-lg")}}</td>
                    </tr>
                    <tr>
                        <td style="font-weight:bold;">Phone :</td>
                        <td>{{form.phoneNo(class="form-control form-control-lg")}}</td>
                    </tr>
                </table>
                <div class="form-group">
                    {{form.submit(class="btn btn-primary")}}
                    {{form.cancel(class="btn btn-danger" )}}
                </div>

            </div>
        </form>

    </div>
</div>

