<div class="topbody">
    <form class="search-fields" method="post" action="#">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="input-group">
                    <input id="search" type="text" class="form-control form-control-lg small-text" name="item" placeholder="Search barcode or item name..."/>
                </div>
                <span class="input-group-addon"> <button class= "btn btn-primary" formaction="#">Find Product</button></span>
                <span class="input-group-addon"> <button class= "btn btn-outline-primary" formaction="#">Surprise Me</button></span>
            </div>
            <div class="col-md-3"></div>
        </div>
    </form>
</div>

