
<div>
    <div class="box">
        <div class="title">
            <h4>
                <span class="fas fa-credit-card"></span>
                <span>Payment Information</span>
            </h4>
        </div>
        <br>
        <div style="border:1px solid grey;border-radius:4px;margin-right:50px;">
            <h5><span class="fas fa-gift" style="padding:5px;"></span>
            Pricemart Gift Cards</h5>

            <h6><a href="#" style="padding:5px;" >Add new Gift card</a></h6>

        </div>
        <br>
        <div style="border:1px solid grey;border-radius:4px;margin-right:50px;">
            <h5><span class="fas fa-credit-card" style="padding:5px;"></span>
            Credit Cards</h5>

            <h6><a href="#" style="padding:5px;" >Add new Credit card</a></h6>

        </div>
        <br>
        <div style="border:1px solid grey;border-radius:4px;margin-right:50px;">
            <h5><span class="fa fa-cc-visa" style="padding:5px;"></span>Debit Cards</h5>

            <h6><a href="#" style="padding:5px;" >Add new Debit card</a></h6>

        </div>

    </div>

</div>
